name: Upload to buf.build
on:
  push:
    branches:
      - main
permissions:
  contents: read
  pull-requests: write
jobs:
  buf:
    strategy:
      matrix:
        api_module: [ common,chat,device,ledger,lostid,notification,ocr,partition,payment,profile,property,settings ]

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: bufbuild/buf-action@v1
        with:
          input: "proto/${{ matrix.api_module }}"
          token: ${{ secrets.BUF_TOKEN }}
